-r tests/requirements.txt

arq==0.18.4
asyncpg==0.17.0
async-timeout==3.0.1
buildpg==0.2.3
ipython==7.13.0
httpx==0.11.1
pydantic==1.4
sentry-sdk==0.14.2
starlette==0.13.2
typer==0.0.8
uvicorn==0.11.3
