-r tests/requirements.txt

aiodns==2.0.0
aiohttp==3.6.2
arq==0.19
asyncpg==0.21.0
async-timeout==3.0.1
buildpg==0.2.3
fastapi==0.61.1
ipython==7.18.1
itsdangerous==1.1.0
httpx==0.14.3
pydantic==1.6.1
sentry-sdk==0.17.4
starlette==0.13.6
typer==0.3.2
uvicorn==0.11.8
